<div class="card mb-3" 
style="color: black;
margin: 0 auto;
background-color: rgb(79, 152, 158);">
    <div class="row g-0">
        <div class="col-md-4 col">
            <img src="{{logo}}" class="img-fluid rounded-start" alt="{{place}} logo">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{place}}: {{job}} 
                </h5>
                <p class="card-text">{{description}}</p>
                <p class="card-text"><small class="text-muted">{{jobStart}} - {{jobEnd}}</small></p>
            </div>
        </div>
    </div>
</div>