<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{image}}" class="img-fluid rounded-start" alt="Muestra del proyecto">
        </div>
        <div class="col-md-8">
        <div class="card-body" style="color: black;">
            <h5 class="card-title"> {{name}} </h5>
            <p class="card-text"> {{description}} </p>
            <p class="card-text"><small class="text-muted">{{releaseDate}} - <a href="{{url}}">Link del proyecto</a></small></p>
        </div>
        </div>
    </div>
</div>
