
<div class="row container-fluid container-sm about">
    <div class="col-4 col-sm-4">
        <app-photo></app-photo>
        <h1>Arián Sanzo</h1>
        <p>Full Stack Developer Jr</p>
        <p>Rosario, Santa Fe, Argentina</p>
    </div>
    <div class="col-8 col-sm-8">
        <h2>
            Acerca de mi:  
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Expedita nisi esse a, saepe accusantium quo officia dolore nesciunt enim minima
        </p>
    </div>
</div>